<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PHGeemedapp"
        tools:targetApi="31">
        <activity
            android:name=".patientInfoPage4"
            android:exported="false" />
        <activity
            android:name=".patientInfoPage3"
            android:exported="false" />
        <activity
            android:name=".patientInfoPage2"
            android:exported="false" />
        <activity
            android:name=".patientInfoPage"
            android:exported="false" />
        <activity
            android:name=".DoctorList"
            android:exported="false" />
        <activity
            android:name=".CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".tempActivity"
            android:exported="false" />
        <activity
            android:name=".loadingActivity"
            android:exported="false" />
        <activity
            android:name=".HomepagePatientActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.PHGeemedapp" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".personInfo"
            android:exported="false"
            android:label="@string/title_activity_person_info"
            android:theme="@style/Theme.PHGeemedapp" />
        <activity
            android:name=".Appointments"
            android:exported="false" />
        <activity
            android:name=".add_edit_patient"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.PHGeemedapp.NoActionBar" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".forgotPass"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
    </application>

</manifest>